<div class="hero__illustration">
  <svg
    class="hero__svg"
    viewBox="0 0 629 588"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
  >
    <g filter="url(#filter0_f_99_190)">
      <path
        d="M506.744 126.237C437.278 132.659 372.561 139.647 360.205 139.647C347.849 139.647 330.946 141.664 318.681 146.23C304.806 151.395 288.083 162.963 286.171 179.145C284.26 195.327 287.088 215.505 286.779 239.405C286.493 261.563 284.855 301.387 285.462 315.667C285.944 326.995 288.02 348.375 293.513 374.77C298.396 398.235 296.719 452.03 284.589 472.774C272.46 493.517 272.823 490.559 269.919 501.812C266.289 515.877 255.181 535.965 241.35 541.377C235.784 543.555 228.42 543.809 226.061 544.241C221.927 544.997 216.162 549.459 218.702 554.904C221.243 560.348 227.587 564.827 231.392 566.316C241.828 570.399 268.912 575.949 298.797 567.117C302.183 566.116 303.668 560.396 305.221 556.527C310.767 542.714 326.029 513.881 344.782 504.08C346.143 503.627 350.972 501.082 352.938 562.031C352.938 562.031 361.267 563.366 362.175 560.039C362.901 557.377 367.519 513.86 369.737 492.435C370.68 483.321 369.737 462.162 345.69 446.458C338.438 441.722 344.468 407.756 347.993 398.044C356.009 375.952 368.293 338.538 369.586 308.376C370.493 287.203 371.256 257.902 362.636 227.05C361.547 224.267 371.501 221.867 376.543 221.413C384.911 220.758 409.706 224.523 435.388 231.642C461.681 238.93 535.894 247.448 565.593 251.964M572.078 287.512C546.657 285.183 500.393 275.466 471.914 269.687C447.295 264.692 414.785 250.65 392.816 252.875M271.029 235.806C253.384 255.265 215.593 298.273 204.583 318.358C190.82 343.464 167.78 382.686 146.356 400.935C129.159 415.582 114.821 420.075 109.302 422.26C104.204 424.277 91.399 429.346 74.9703 440.106C59.3846 450.313 38.1711 442.773 31.178 438.085C28.6317 436.378 22.0222 434.518 19.536 436.913C17.2666 439.099 10.5419 450.088 26.5733 467.631C42.6047 485.175 64.383 501.66 73.0037 500.602C81.6244 499.543 120.552 472.808 147.774 480.521C152.492 481.731 128.196 514.464 116.5 530.597C119.704 533.644 121.34 536.748 125.333 534.933C129.325 533.118 164 496.266 180.838 478.067C184.77 471.11 190.994 453.817 183.734 435.547C181.208 429.19 201.211 409.194 225.85 395.19C245.442 384.054 265.481 367.511 272.186 360.251"
        stroke="#2C2F9A"
        stroke-width="20"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </g>
    <g filter="url(#filter1_f_99_190)" class="illuminate">
      <path
        d="M506.744 126.237C437.278 132.659 372.561 139.647 360.205 139.647C347.849 139.647 330.946 141.664 318.681 146.23C304.806 151.395 288.083 162.963 286.171 179.145C284.26 195.327 287.088 215.505 286.779 239.405C286.493 261.563 284.855 301.387 285.462 315.667C285.944 326.995 288.02 348.375 293.513 374.77C298.396 398.235 296.719 452.03 284.589 472.774C272.46 493.517 272.823 490.559 269.919 501.812C266.289 515.877 255.181 535.965 241.35 541.377C235.784 543.555 228.42 543.809 226.061 544.241C221.927 544.997 216.162 549.459 218.702 554.904C221.243 560.348 227.587 564.827 231.392 566.316C241.828 570.399 268.912 575.949 298.797 567.117C302.183 566.116 303.668 560.396 305.221 556.527C310.767 542.714 326.029 513.881 344.782 504.08C346.143 503.627 350.972 501.082 352.938 562.031C352.938 562.031 361.267 563.366 362.175 560.039C362.901 557.377 367.519 513.86 369.737 492.435C370.68 483.321 369.737 462.162 345.69 446.458C338.438 441.722 344.468 407.756 347.993 398.044C356.009 375.952 368.293 338.538 369.586 308.376C370.493 287.203 371.256 257.902 362.636 227.05C361.547 224.267 371.501 221.867 376.543 221.413C384.911 220.758 409.706 224.523 435.388 231.642C461.681 238.93 535.894 247.448 565.593 251.964M572.078 287.512C546.657 285.183 500.393 275.466 471.914 269.687C447.295 264.692 414.785 250.65 392.816 252.875M271.029 235.806C253.384 255.265 215.593 298.273 204.583 318.358C190.82 343.464 167.78 382.686 146.356 400.935C129.159 415.582 114.821 420.075 109.302 422.26C104.204 424.277 91.399 429.346 74.9703 440.106C59.3846 450.313 38.1711 442.773 31.178 438.085C28.6317 436.378 22.0222 434.518 19.536 436.913C17.2666 439.099 10.5419 450.088 26.5733 467.631C42.6047 485.175 64.383 501.66 73.0037 500.602C81.6244 499.543 120.552 472.808 147.774 480.521C152.492 481.731 128.196 514.464 116.5 530.597C119.704 533.644 121.34 536.748 125.333 534.933C129.325 533.118 164 496.266 180.838 478.067C184.77 471.11 190.994 453.817 183.734 435.547C181.208 429.19 201.211 409.194 225.85 395.19C245.442 384.054 265.481 367.511 272.186 360.251"
        stroke="#138FD2"
        stroke-width="9"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </g>
    <g filter="url(#filter2_f_99_190)">
      <path
        d="M506.744 126.237C437.278 132.659 372.561 139.647 360.205 139.647C347.849 139.647 330.946 141.664 318.681 146.23C304.806 151.395 288.083 162.963 286.171 179.145C284.26 195.327 287.088 215.505 286.779 239.405C286.493 261.563 284.855 301.387 285.462 315.667C285.944 326.995 288.02 348.375 293.513 374.77C298.396 398.235 296.719 452.03 284.589 472.774C272.46 493.517 272.823 490.559 269.919 501.812C266.289 515.877 255.181 535.965 241.35 541.377C235.784 543.555 228.42 543.809 226.061 544.241C221.927 544.997 216.162 549.459 218.702 554.904C221.243 560.348 227.587 564.827 231.392 566.316C241.828 570.399 268.912 575.949 298.797 567.117C302.183 566.116 303.668 560.396 305.221 556.527C310.767 542.714 326.029 513.881 344.782 504.08C346.143 503.627 350.972 501.082 352.938 562.031C352.938 562.031 361.267 563.366 362.175 560.039C362.901 557.377 367.519 513.86 369.737 492.435C370.68 483.321 369.737 462.162 345.69 446.458C338.438 441.722 344.468 407.756 347.993 398.044C356.009 375.952 368.293 338.538 369.586 308.376C370.493 287.203 371.256 257.902 362.636 227.05C361.547 224.267 371.501 221.867 376.543 221.413C384.911 220.758 409.706 224.523 435.388 231.642C461.681 238.93 535.894 247.448 565.593 251.964M572.078 287.512C546.657 285.183 500.393 275.466 471.914 269.687C447.295 264.692 414.785 250.65 392.816 252.875M271.029 235.806C253.384 255.265 215.593 298.273 204.583 318.358C190.82 343.464 167.78 382.686 146.356 400.935C129.159 415.582 114.821 420.075 109.302 422.26C104.204 424.277 91.399 429.346 74.9703 440.106C59.3846 450.313 38.1711 442.773 31.178 438.085C28.6317 436.378 22.0222 434.518 19.536 436.913C17.2666 439.099 10.5419 450.088 26.5733 467.631C42.6047 485.175 64.383 501.66 73.0037 500.602C81.6244 499.543 120.552 472.808 147.774 480.521C152.492 481.731 128.196 514.464 116.5 530.597C119.704 533.644 121.34 536.748 125.333 534.933C129.325 533.118 164 496.266 180.838 478.067C184.77 471.11 190.994 453.817 183.734 435.547C181.208 429.19 201.211 409.194 225.85 395.19C245.442 384.054 265.481 367.511 272.186 360.251"
        stroke="white"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </g>
    <g filter="url(#filter3_f_99_190)" class="illuminate">
      <path
        d="M125.885 384.235C111.119 352.58 102.873 317.273 102.873 280.04C102.873 143.756 213.353 33.2765 349.637 33.2765C485.921 33.2765 596.401 143.756 596.401 280.04C596.401 401.18 509.11 501.932 393.997 522.828M205.951 480.68C217.584 489.025 229.972 496.384 242.994 502.634"
        stroke="#4009B7"
        stroke-width="25"
        stroke-linecap="round"></path>
    </g>
    <g filter="url(#filter4_f_99_190)" class="illuminate">
      <path
        d="M125.885 384.235C111.119 352.58 102.873 317.273 102.873 280.04C102.873 143.756 213.353 33.2765 349.637 33.2765C485.921 33.2765 596.401 143.756 596.401 280.04C596.401 401.18 509.11 501.932 393.997 522.828M205.951 480.68C217.584 489.025 229.972 496.384 242.994 502.634"
        stroke="#C204F9"
        stroke-width="15"
        stroke-linecap="round"></path>
    </g>
    <g filter="url(#filter5_f_99_190)">
      <path
        d="M125.885 384.235C111.119 352.58 102.873 317.273 102.873 280.04C102.873 143.756 213.353 33.2765 349.637 33.2765C485.921 33.2765 596.401 143.756 596.401 280.04C596.401 401.18 509.11 501.932 393.997 522.828M205.951 480.68C217.584 489.025 229.972 496.384 242.994 502.634"
        stroke="#C204F9"
        stroke-width="15"
        stroke-linecap="round"></path>
    </g>
    <g filter="url(#filter6_f_99_190)">
      <path
        d="M125.885 384.235C111.119 352.58 102.873 317.273 102.873 280.04C102.873 143.756 213.353 33.2765 349.637 33.2765C485.921 33.2765 596.401 143.756 596.401 280.04C596.401 401.18 509.11 501.932 393.997 522.828M205.951 480.68C217.584 489.025 229.972 496.384 242.994 502.634"
        stroke="#F477FF"
        stroke-width="5"
        stroke-linecap="round"></path>
    </g>
    <defs>
      <filter
        id="filter0_f_99_190"
        x="0.191406"
        y="110.236"
        width="587.887"
        height="477.592"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur stdDeviation="3" result="effect1_foregroundBlur_99_190"
        ></feGaussianBlur>
      </filter>
      <filter
        id="filter1_f_99_190"
        x="7.69141"
        y="117.737"
        width="572.886"
        height="462.592"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_99_190"
        ></feGaussianBlur>
      </filter>
      <filter
        id="filter2_f_99_190"
        x="12.6914"
        y="122.737"
        width="562.886"
        height="452.591"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur stdDeviation="1" result="effect1_foregroundBlur_99_190"
        ></feGaussianBlur>
      </filter>
      <filter
        id="filter3_f_99_190"
        x="85.3728"
        y="15.7765"
        width="528.528"
        height="524.553"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="2.5"
          result="effect1_foregroundBlur_99_190"></feGaussianBlur>
      </filter>
      <filter
        id="filter4_f_99_190"
        x="70.3728"
        y="0.776459"
        width="558.528"
        height="554.553"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="12.5"
          result="effect1_foregroundBlur_99_190"></feGaussianBlur>
      </filter>
      <filter
        id="filter5_f_99_190"
        x="91.3728"
        y="21.7765"
        width="516.528"
        height="512.553"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_99_190"
        ></feGaussianBlur>
      </filter>
      <filter
        id="filter6_f_99_190"
        x="99.3728"
        y="29.7765"
        width="500.528"
        height="496.552"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="0.5"
          result="effect1_foregroundBlur_99_190"></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <div class="hero__div-bg illuminate"></div>
</div>

<style>
  .hero__illustration {
    display: flex;
    grid-column: 8 / 6 span;
    grid-row: 1 / 4 span;
    align-self: center;
    position: relative;
  }
  .hero__svg {
    min-width: 320px;
    max-width: 750px;
  }

  .hero__div-bg {
    grid-column: 8 / 6 span;
    grid-row: 1 / 4 span;
    justify-self: flex-end;
    position: absolute;
    inset: 0 0 5% 15%;
    aspect-ratio: 1;
    background: radial-gradient(
      circle at center,
      #153b75 0%,
      #21242b 70%,
      #21242b 100%
    );
    border-radius: 50%;
    z-index: -1;
  }

  @media (max-width: 960px) {
    .hero__illustration,
    .hero__div-bg {
      grid-column: 1 / -1;
      grid-row: 1;
    }
    .hero__illustration {
      align-self: center;
      justify-self: center;
      padding-block: var(--gap-32) var(--gap-64);
    }
    .hero__div-bg {
      inset: 5% 0% 0% 0%;
    }
  }
</style>
